<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="stormSettings">
      <section name="storm" type="Enferno.Web.StormUtils.StormConfigurationSection, Enferno.Web.StormUtils" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  
  <stormSettings>
    <storm encryptCookie="false" assortmentIdSeed="1" productStatusIdSeed="1,2,3,4" imageUrl="http://services.enferno.se/image/" paymentReturnUrl="http://stormstage.enferno.se/Message/Dibs/ReturnUrlRedirect.ashx" />
  </stormSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Enferno.Public" />
    <namespace name="Enferno.Public.Caching" />
    <container>
      <register type="ICacheManager" mapTo="CacheManager">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
  
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Debug" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="TestListener" type="Enferno.Public.Logging.RollingXmlTraceListener, Enferno.Public" listenerDataType="Enferno.Public.Logging.Configuration.RollingXmlTraceListenerData, Enferno.Public" fileName="\TraceLogs\Unprocessed.svclog" rollFileExistsBehavior="Increment" rollInterval="Day" maxArchivedFiles="6" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId" />
    </listeners>
    <formatters />
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging" enabled="false" name="Logging Enabled Filter" />
    </logFilters>
    <categorySources />
    <specialSources>
      <allEvents switchValue="Off" name="All Events">
        <listeners>
          <add name="TestListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="TestListener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="TestListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
  <system.web>
    <membership defaultProvider="Test">
      <providers>
        <add passwordFormat="Hashed" name="Test" type="Enferno.Web.StormUtils.StormMembershipProvider, Enferno.Web.StormUtils" />
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>