<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    <sectionGroup name="stormSettings">
      <section name="storm" type="Enferno.Web.StormUtils.StormConfigurationSection, Enferno.Web.StormUtils" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  
  <stormSettings>
    <storm encryptCookie="false" assortmentIdSeed="1" productStatusIdSeed="1,2,3,4" imageUrl="http://services.enferno.se/image/" paymentReturnUrl="http://stormstage.enferno.se/Message/Dibs/ReturnUrlRedirect.ashx" />
  </stormSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Enferno.Public" />
    <namespace name="Enferno.Public.Caching" />
    <container>
      <register type="ICacheManager" mapTo="CacheManager">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
  
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Debug" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="TestListener" type="Enferno.Public.Logging.RollingXmlTraceListener, Enferno.Public" listenerDataType="Enferno.Public.Logging.Configuration.RollingXmlTraceListenerData, Enferno.Public" fileName="\TraceLogs\Unprocessed.svclog" rollFileExistsBehavior="Increment" rollInterval="Day" maxArchivedFiles="6" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId" />
    </listeners>
    <formatters />
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging" enabled="false" name="Logging Enabled Filter" />
    </logFilters>
    <categorySources />
    <specialSources>
      <allEvents switchValue="Off" name="All Events">
        <listeners>
          <add name="TestListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="TestListener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="TestListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
  <system.web>
    <membership defaultProvider="Test">
      <providers>
        <add passwordFormat="Hashed" name="Test" type="Enferno.Web.StormUtils.StormMembershipProvider, Enferno.Web.StormUtils" />
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Configuration" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
