<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="Enferno.Public.Caching" />
    <assembly name="Enferno.Public" />
    <assembly name="Enferno.StormApiClient" />
    <namespace name="Enferno.StormApiClient" />
    <container>
      <register type="ICacheManager" mapTo="CacheManager">
        <lifetime type="singleton" />
        <method name="AddCache">
          <param name="cache" dependencyName="AccessClient" />
        </method>
      </register>
      <!-- disable InMemoryCache by changing NullCache -->
      <register name="AccessClient" type="ICache" mapTo="InMemoryCache">
        <lifetime type="singleton" />
        <constructor>
          <param name="name" value="AccessClient" />
        </constructor>
      </register>
      <register type="ICertificateResolver" mapTo="CertificateResolver">
        <constructor />
      </register>
    </container>
  </unity>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Debug" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="AccessClientListener" type="Enferno.Public.Logging.RollingXmlTraceListener, Enferno.Public" listenerDataType="Enferno.Public.Logging.Configuration.RollingXmlTraceListenerData, Enferno.Public" fileName="C:\Temp\Logs\StormAPIClient\AccessClient.svclog" rollFileExistsBehavior="Increment" rollSizeKB="10000" maxArchivedFiles="4" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId" />
    </listeners>
    <formatters>
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging" enabled="true" name="Logging Enabled Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="Information" name="Enferno.StormApiClient.AccessClient">
        <listeners>
          <add name="AccessClientListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="Off" name="All Events">
        <listeners>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SOAP">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://addresstoapi/api/1.1/ApplicationService.svc/soap" behaviorConfiguration="CertificateBehavior" binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Applications.ApplicationService" name="APPLICATION" />
      <endpoint address="https://addresstoapi/api/1.1/ProductService.svc/soap" behaviorConfiguration="CertificateBehavior" binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Products.ProductService" name="PRODUCT" />
      <endpoint address="https://addresstoapi/api/1.1/CustomerService.svc/soap" behaviorConfiguration="CertificateBehavior" binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Customers.CustomerService" name="CUSTOMER" />
      <endpoint address="https://addresstoapi/api/1.1/ShoppingService.svc/soap" behaviorConfiguration="CertificateBehavior" binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Shopping.ShoppingService" name="SHOPPING" />
      <endpoint address="https://addresstoapi/api/1.1/OrderService.svc/soap" behaviorConfiguration="CertificateBehavior" binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Orders.OrderService" name="ORDER" />
      <endpoint address="https://addresstoapi/api/1.1/ExposeService.svc/soap" behaviorConfiguration="CertificateBehavior" binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Expose.ExposeService" name="EXPOSE" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CertificateBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>