<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ExportService" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="SOAP">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://servicesstage.enferno.se/api/1.1/ApplicationService.svc/soap"
                binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Expose.ExposeService"
                name="SOAP" />
            <endpoint address="https://servicesstage.enferno.se/api/1.1/CustomerService.svc/soap"
                binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Expose.ExposeService"
                name="SOAP1" />
            <endpoint address="https://servicesstage.enferno.se/api/1.1/OrderService.svc/soap"
                binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Expose.ExposeService"
                name="SOAP2" />
            <endpoint address="https://servicesstage.enferno.se/api/1.1/ProductService.svc/soap"
                binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Expose.ExposeService"
                name="SOAP3" />
            <endpoint address="https://servicesstage.enferno.se/api/1.1/ShoppingService.svc/soap"
                binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Expose.ExposeService"
                name="SOAP4" />
            <endpoint address="https://servicesstage.enferno.se/api/1.1/ExposeService.svc/soap"
                binding="wsHttpBinding" bindingConfiguration="SOAP" contract="Enferno.StormApiClient.Expose.ExposeService"
                name="SOAP5" />
            <endpoint address="https://stormstage.enferno.se/api/1.1/Export/ExportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ExportService"
                contract="ExportProxy.ExportService" name="BasicHttpBinding_ExportService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
